.ReminderBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    border: 3px solid black;
    width: 400px;
    margin: auto;
    padding: 3px 7.5px;
    color: black;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.ReminderBar .button {
    background-color: var(--blue);
    font-size: 1rem;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
}

.ReminderBar.blue {
    background-color: var(--light_blue);
}
